* {
  background-color: black;
}
.head {
  color: #48c5b6;
  font-size: 40px;
  padding: 20px 70px;
  font-family: inherit;
}
.head1 {
  color: #48c5b6;
  font-size: 72px;
  line-height: 72px;
  letter-spacing: 4px;
  padding: 10px 450px;
}

.para {
  text-align: center;
  padding: 30px;
  color: white;
  font-size: 30px;
  line-height: 36px;
  font-weight: 200;
  font-family: inherit;
}

.now {
  color: #ffd803;
}
